<% title "Rides" %>

<p><%= link_to "New Ride", new_ride_path %></p>

<% form_tag '', :method => :get do %>
  <%= select("filter", "bike", [["Bike", nil]] + Bike.all.map {|b| [b.name, b.slug]}) %>
  <%= select("filter", "year", [["Year", nil], [2011, 2011], [2012, 2012]]) %>
  <%= select("filter", "month", [["Month", nil],
             ["1 - Jan", 1], ["2 - Feb", 2], ["3 - Mar", 3], ["4 - Apr", 4],
             ["5 - May", 5], ["6 - Jun", 6], ["7 - Jul", 7], ["8 - Aug", 8],
             ["9 - Sep", 9], ["10 - Oct", 10], ["11 - Nov", 11], ["12 - Dec", 12],
  ]) %>

  <%= submit_tag 'Filter' %>
<% end %>

<table>
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th>Miles</th>
    <th>Kilometers</th>
    <th>Bike</th>
  </tr>
  <% @rides.each do |ride| %>
    <tr>
      <td><%= ride.date.to_formatted_s(:weekday_date) %></td>
      <td><%= ride.description %></td>
      <td><%= nice_number(ride.miles) %></td>
      <td><%= nice_number(ride.kilometers) %></td>
      <td><%= ride.bike.name %></td>
      <td><%= link_to "Show", ride %></td>
      <td><%= link_to "Edit", edit_ride_path(ride) %></td>
      <td><%= link_to "Destroy", ride, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p>
<%= nice_number(@rides.map(&:miles).sum) %> miles /
  <%= nice_number(@rides.map(&:kilometers).sum) %> km
</p>
<p>
Rides: <%= @rides_only.size %>
(<%= @rides_by_bike.map {|r| "#{r.first}: #{r.second} for #{nice_number(r.third)} miles"}.join(", ") %>)
</p>
<p>
Services: <%= @services.size %>
(<%= @services_by_bike.map {|s| "#{s.first}: #{s.last}"}.join(", ") %>)
</p>

<%- if @days_ridden && @total_days -%>
<p>
<%= @days_ridden %> days ridden out of <%= @total_days %>
(<%= nice_number(1.0 * @days_ridden / @total_days * 100) %>% of days)
</p>
<%- end -%>

<p><%= link_to "New Ride", new_ride_path %></p>
