<% title "Ride" %>

<p><%= link_to "New Ride", new_ride_path %></p>

<%- if @ride.template -%>
  <p><strong>THIS RIDE IS A TEMPLATE!</strong></p>
<%- end -%>

<p>
  <strong>Miles:</strong>
  <%= nice_number(@ride.miles) %>
</p>
<p>
  <strong>Kilometers:</strong>
  <%= nice_number(@ride.kilometers) %>
</p>
<p>
  <strong>Brief description:</strong>
  <%= @ride.description %>
</p>
<p>
  <strong>Long description:</strong>
  <%= @ride.long_description %>
</p>
<p>
  <strong>Bike:</strong>
  <%= @ride.bike.name %>
</p>
<p>
  <strong>Date:</strong>
  <%= @ride.date.to_formatted_s(:weekday_date) %>
</p>

<p>
  <%= link_to "Edit", edit_ride_path(@ride) %> |
  <%= link_to "Destroy", @ride, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", rides_path %>
</p>
